<!--
  ~ MIT License
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->


<mapper namespace="com.datasophon.dao.mapper.instance.K8sServiceInstanceMapper">

    <select id="selectInstanceList" resultType="com.datasophon.dao.vo.instance.K8sServiceInstanceVO">
        SELECT
            a.id,
            a.cluster_id AS cluster_id,
            a.namespace_id AS namespace_id,
            b.namespace AS namespace,
            a.service_id AS service_id,
            c.service_name AS service_name,
            c.type as catalog,
            a.state
        FROM
            t_ddh_k8s_service_instance a
            LEFT JOIN t_ddh_k8s_cluster_namespace b ON a.namespace_id = b.id
            LEFT JOIN t_ddh_frame_k8s_service c ON a.service_id = c.id
        WHERE
            a.cluster_id = #{clusterId}
            AND b.namespace = #{namespace}
    </select>

    <select id="selectByIds" resultType="com.datasophon.dao.vo.instance.K8sServiceInstanceVO">
        SELECT
            a.id,
            a.cluster_id AS cluster_id,
            a.namespace_id AS namespace_id,
            b.namespace AS namespace,
            a.service_id AS service_id,
            c.service_name AS service_name,
            c.type as catalog,
            a.state
        FROM
            t_ddh_k8s_service_instance a
            LEFT JOIN t_ddh_k8s_cluster_namespace b ON a.namespace_id = b.id
            LEFT JOIN t_ddh_frame_k8s_service c ON a.service_id = c.id
        WHERE
            a.id IN
            <foreach collection="instanceIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </select>
</mapper>
