.s {
  &__title {
    background: url('../../../../app/assets/images/dialogheader@2x.png')
      no-repeat center center !important;
    background-size: cover;
    color: #1d2129;
    font-weight: 600;
    font-size: 18px;
    color: #1d2129;
    height: 72px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 24px;
  }
}
