<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Licensed to the Apache Software Foundation (ASF) under one or more
  ~  contributor license agreements.  See the NOTICE file distributed with
  ~  this work for additional information regarding copyright ownership.
  ~  The ASF licenses this file to You under the Apache License, Version 2.0
  ~  (the "License"); you may not use this file except in compliance with
  ~  the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datasophon.dao.mapper.instance.K8sServiceInstanceMapper">

    <select id="selectInstanceList" resultType="com.datasophon.dao.vo.instance.K8sServiceInstanceVO">
        SELECT
            a.id,
            a.cluster_id AS cluster_id,
            a.namespace_id AS namespace_id,
            b.namespace AS namespace,
            a.service_id AS service_id,
            c.service_name AS service_name,
            a.state
        FROM
            t_ddh_k8s_service_instance a
            LEFT JOIN t_ddh_k8s_cluster_namespace b ON a.namespace_id = b.id
            LEFT JOIN t_ddh_frame_k8s_service c ON a.service_id = c.id
        WHERE
            a.cluster_id = #{clusterId}
            AND b.namespace = #{namespace}
    </select>
</mapper>
